@model List<NLayerApp.BusinessLogicLayer.Models.ImageInsertUpdateViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Додавання або редагування фото об'єкту </h2>
<fieldset>
    <legend style="color: blue; font-size: 25px; font-style: oblique;">Збережені фото </legend>
    @if ((Model?.Count ?? 0) > 0)
    {
        <table>
            @foreach (var d in Model)
            {
                <tr>
                    <td>список фотографій об'єкту ID № <b></b>@d.InfoId</td>
                </tr>
                break;
            } 
            @foreach (var b in Model)
            {
                <tr>
                    <td>@b.fotoName </td>
                    <td>@Html.Raw("<img style = 'width:80px; height:60px;' " + " src =\"data:image/jpeg;base64," + Convert.ToBase64String(b.Image) + "\" />")</td>
                    <td><a href="/AdminImage/DeleteImage/@b.IdPicture" style="color: red">[Видалити]</a></td>
                </tr>
               
            }
            <tr>
                <td><a href="/AdminImage/InsertImages/@ViewBag.IdObject" style="color: blue"><img src="/Image/add.jpg"/></a></td>
            </tr>
           
        </table>
    }
    else
    {
        <table>
            <tr>
                <td><a href="/AdminImage/InsertImages/@ViewBag.IdObject" style="color: blue"><img src="/Image/add.jpg"/></a></td>
                <td>додати перше фото об'єкта</td>
            </tr>
        </table>
    }




</fieldset>
    
