
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Комерційна нерухомість</h2>

<form method="POST" action="">
    <!-- ++++++++++++++++++++++++++   Адреса  ++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Адресні дані </legend>

        <!--Населені пункти -->
        <p>
            <label>Населений пункт:</label>
            <input type="text" id="village" name="Village" required />
        </p>
        <!--Райони-->
        <p>
            <label>Район:</label>
            <input type="text" id="region" name="Region" required />
        </p>
        <!--вулиця -->
        <p>
            <label>Вулиця:</label>
            <input type="text" id="street" name="Street" />
        </p>
        <!--Номер будинку-->
        <p>
            <label>Будинок № :</label>
            <input type="text" id="adress_number" name="NumberAdress" />
        </p>

        <label for="operation">Вид операції:</label>
        <select id="operation" name="OperationType">
            <option value="0">оренда</option>
            <option value="1">продаж</option>
        </select><br />
        <!--прододжить разбоп с этого места -->
    </fieldset>
    <!-- +++++++++++++++++++++++++++ Детальна інформація +++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Детальна інформація</legend>
        <p>
            <label>Призначення:</label>
            <select>
                <option>Офісно-адміністративне</option>
                <option>Виробниче</option>
                <option>Складське</option>
                <option>Торгове</option>
                <option>Розважальне</option>
                <option>Гараж</option>
                <option>Вільне призначення</option>
            </select>
        </p>

        <!--Стан обьекту-->
        <p>
            <label>Стан:</label>
            <select>
                <option>відмінний</option>
                <option>хороший</option>
                <option>задовільний</option>
                <option>потрібний ремонт</option>
                <option>оздоблювальні роботи</option>
            </select>
        </p>
        <!-- Поверх -->
        <p>
            <label>Поверх:</label>
            <select>
                <option>підвал</option>
                <option>цоколь</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
            </select>
        </p>
        <!-- зангальні кількість поверхів -->
        <p>
            <label>Загальна кількість поверхів:</label>
            <input type="number" id="float_number" name="float_number" min="1" max="24" />
        </p>
        <!-- Матеріал підлоги -->
        <p>
            <label>Матеріал підлоги:</label>
            <select>
                <option>паркет</option>
                <option>ламінат</option>
                <option>лінолеум</option>
                <option>кахель</option>
                <option>ковралін</option>
                <option>дошка</option>
                <option>ДВП</option>
                <option>бетон</option>
            </select>
        </p>
        <!-- Матеріал стін -->
        <p>
            <label>Матеріал стін:</label>
            <select>
                <option>цегла</option>
                <option>панель</option>
                <option>моноліт</option>
                <option>дерево</option>
                <option>дерево-цегла</option>
            </select>
        </p>
        <!-- Загальна площа -->
        <p>
            <label>Загальна площа:</label>
            <input type="number" id="total_area" name="total_area" min="0.1" max="200.9" step="0.1" /> m<sup><small>2</small></sup>
        </p>
        <!-- Корисна  плоша -->
        <p>
            <label>Корисна площа </label><!--???????????????????????????????????-->
            <input type="number" id="living_area" name="living_area" min="0.1" max="200.9" step="0.1" /> m<sup><small>2</small></sup>
        </p>
        <!-- Площа земельної ділянки  -->
        <p>
            <label> Площа земельної ділянки:</label><!--???????????????????????????????????-->
            <input type="number" id="kitchen_area" name="kitchen_area" min="0.1" max="200.9" step="0.1" /> (Га)
        </p>
    </fieldset>
    <!-- ++++++++++++++++++++++++++ Комунікаціїї ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Комунікації</legend>
        <p>
            <!--
    <p>
        <input name="Gas" type="checkbox"/>Газ
    </p>
    <p>
        <input name="RailWay" type="checkbox"/>Залізнична дорога
    </p>
    <p>
        <input name="CentralSewerage" type="checkbox"/>Центральна каналізація
    </p>
    <p>
        <input name="CentralWater" type="checkbox"/>Центральне водопостачання
    </p>
    <p>
        <input name="CentralHeating" type="checkbox"/>Центральне отоплення
    </p>
    <p>
        <input name="Electricity" type="checkbox"/>Електроенергія
    </p>
    <p>
        <input name="AutonomousSewerage" type="checkbox"/>Автономна каналізація
    </p>
    <p>
        <input name="AutonomusHeating" type="checkbox"/>Автономне опалення
    </p>
    <p>
        <input name="AutonomousWater" type="checkbox"/>Автономне водопостачання
    </p>
        -->

        </p>
    </fieldset>
    <!-- +++++++++++++++++++   Додаткове обладнання ++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Додаткове обладнання</legend>
        <!--
    <p>
        <p>
            <input name="Boiler" type="checkbox"/>Бойлер
        </p>
        <p>
            <input name="Intercom" type="checkbox"/>Домофон
        </p>
        <p>
            <input name="Internet" type="checkbox"/>Інтернет
        </p>
        <p>
            <input name="CableTv" type="checkbox"/>Кабельне телебачення
        </p>
        <p>
            <input name="FirePlace" type="checkbox"/>Камін
        </p>
        <p>
            <input name="Air" type="checkbox"/>Кондіціонер
        </p>
        <p>
            <input name="Furniture" type="checkbox"/>Меблі
        </p>
        <p>
            <input name="MyWindows" type="checkbox"/> Склопакети
        </p>
        <p>
            <input name="Signaling" type="checkbox"/>Сигналізація
        </p>
        <p>
            <input name="SatelliteTv" type="checkbox"/>Супутникове телебачення
        </p>
        <p>
            <input name="WashingMachine" type="checkbox"/>Пральна машинка
        </p>
        <p>
            <input name="Telephone" type="checkbox"/>Телефон
        </p>
    </p>
        -->

    </fieldset>
    <!-- ++++++++++++++++++++++++++++++++++++++ Опис обєкту ++++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Опис обєкту</legend>

        <!-- Коротка інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Коротка інформація:</label><br />
            <textarea id="" name="" cols="120" rows="5"></textarea>
        </p>

        <!-- Детальна інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Детальна інформація</label><br>
            <textarea id="" name="" cols="120" rows="5"></textarea>
        </p>
        <!-- Приватна інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Приватна інформація</label><br />
            <textarea id="" name="" cols="120" rows="5"></textarea>
        </p>
        <!-- ціна в гривнях -->
        <p>
            <label>Ціна:</label>
            <input type="number" id="" name="" min="0" step="1" /> <span style="color: red; font-weight: bold;">грн.</span>
        </p>
        <!-- ціна в доларах -->
        <p>
            <label>Ціна:</label>
            <input type="number" id="" name="" min="0" step="0" /> <span style="color: red; font-weight: bold;">$</span>
        </p>
    </fieldset>
    <!-- +++++++++++++++++++++++++++++++++++++ Додавання фото +++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Додати фото</legend>
        <p>
            <input type="file" name="foto" multiple />
        </p>
    </fieldset>
    <p>
        <button type="submit">Зберегти обьєкт</button>
        <button type="reset">Очистити форму</button>
        <button type="button">Видалити обьєкт</button>
    </p>

</form>