
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Будинки</h2>
<form method="POST" action="">

    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Адресні дані </legend>

        <!--Населені пункти -->
        <p>
            <label>Населений пункт:</label>
            <input type="text" id="village" name="Village" required />
        </p>
        <!--Райони-->
        <p>
            <label>Район:</label>
            <input type="text" id="region" name="Region" required />
        </p>
        <!--вулиця -->
        <p>
            <label>Вулиця:</label>
            <input type="text" id="street" name="Street" />
        </p>
        <!--Номер будинку-->
        <p>
            <label>Будинок № :</label>
            <input type="text" id="adress_number" name="NumberAdress" />
        </p>

        <label for="operation">Вид операції:</label>
        <select id="operation" name="OperationType">
            <option value="0">оренда</option>
            <option value="1">продаж</option>
        </select><br />
        <!--прододжить разбоп с этого места -->
    </fieldset>
    <!-- +++++++++++++ Детальна інформація +++++++++++++++++ -->
    <fieldset>

        <legend style="color: blue; font-size: 25px; font-style: oblique;">Детальна інформація</legend>
        <!-- тип будинку -->
        <p>
            <label>Тип будинку:</label>
            <select name="TypeHouse" >
                <option value="Будинок">Будинок</option>
                <option value="Котедж">Котедж</option>
                <option value="Літній будинок">Літній будинок</option>
            </select>
        </p>
        <!--Стан обьекту-->
        <p>
            <label>Стан:</label>
            <select name="ConditionHouse" >
                <option value="відмінний">відмінний</option>
                <option value="хороший">хороший</option>
                <option value="задовільний">задовільний</option>
                <option value="потрібний ремонт">потрібний ремонт</option>
                <option value="оздоблювальні роботи">оздоблювальні роботи</option>
            </select>
        </p>
        <!-- частина будинку -->
        <p>
            <label>Частина будинку:</label>
            <select name="PartHouse">
                <option value="1">1</option>
                <option value="1/2">1/2</option>
                <option value="1/3">1/3</option>
                <option value="1/4">1/4</option>
                <option value="1/5">1/5</option>
                <option value="2/3">2/3</option>
                <option value="2/5">2/5</option>
            </select>
        </p>
        <!-- Кількість кімнат -->
        <p>
            <label>Кількість кімнат:</label>
            <select name="RoomsHouse">
                <option value="1">1 кімната</option>
                <option value="2">2 кімнати</option>
                <option value="3">3 кімнати</option>
                <option value="4">4 кімнати</option>
                <option value="5">5 кімат і більше</option>
            </select>
        </p>
        <!-- зангальні кількість поверхів -->
        <p>
            <label>Кількість поверхів:</label>
            <input type="number" id="float_number" name="FloorHouse" min="1" max="5" />
        </p>
        <!-- Матеріал підлоги -->
        <!-- <p>
            <label>Матеріал підлоги:</label>
            <select>
                <option>паркет</option>
                <option>ламінат</option>
                <option>лінолеум</option>
                <option>кахель</option>
                <option>ковралін</option>
                <option>дошка</option>
                <option>ДВП</option>
                <option>бетон</option>
            </select>
        </p>
            -->

        <!-- Матеріал стін -->
        <!--
        <p>
            <label>Матеріал стін:</label>
            <select>
                <option>цегла</option>
                <option>панель</option>
                <option>моноліт</option>
                <option>дерево</option>
                <option>дерево-цегла</option>
            </select>
        </p>
            -->
        <!-- Загальна площа -->
        <p>
            <label>Загальна площа:</label>
            <input type="number" id="total_area" name="TotalAreaInfo" min="0.1" max="200.9" step="0.1" /> m<sup><small>2</small></sup>
        </p>
        <!-- Житлова плоша -->
        <p>
            <label>Житлова площа </label>
            <input type="number" id="living_area" name="LivingAreaHouse" min="0.1" max="200.9" step="0.1" /> m<sup><small>2</small></sup>
        </p>
        <!-- Площа кухні -->
        <p>
            <label> Площа кухні:</label>
            <input type="number" id="kitchen_area" name="KitchenAreaHouse" min="0.1" max="200.9" step="0.1" /> m <sup><small>2</small></sup>
        </p>
        <!-- Площа прилягаючої  земельної ділянки  -->
        <p>
            <label> Площа земельної ділянки:</label>
            <input type="number" id="land_area_house" name="LandAreaHouse" min="0.1" step="0.1" /> (Га)
        </p>
    </fieldset>
    <!-- +++++++++++++++++++   Додаткове обладнання ++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Додаткове обладнання</legend>
        <p>
            <p>
                <input name="Boiler" type="checkbox" />Бойлер
            </p>
            <p>
                <input name="Intercom" type="checkbox" />Домофон
            </p>
            <p>
                <input name="Internet" type="checkbox" />Інтернет
            </p>
            <p>
                <input name="CableTv" type="checkbox"/>Кабельне телебачення
            </p>
            <p>
                <input name="FirePlace" type="checkbox"/>Камін
            </p>
            <p>
                <input  name="Air" type="checkbox" />Кондіціонер
            </p>
            <p>
                <input name="Furniture" type="checkbox"/>Меблі
            </p>
            <p>
                <input name="MyWindows" type="checkbox" /> Склопакети
            </p>
            <p>
                <input name="Signaling" type="checkbox" />Сигналізація
            </p>
            <p>
                <input name="SatelliteTv" type="checkbox" />Супутникове телебачення
            </p>
            <p>
                <input name="WashingMachine" type="checkbox" />Пральна машинка
            </p>
            <p>
                <input name="Telephone" type="checkbox" />Телефон
            </p>
        </p>
    </fieldset>
    <!-- ++++++++++++++++++++ Комунікацїї +++++++++++++++++++++++++ -->

    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Комунікації</legend>
        <p>
        <!--
        <p>
            <input name="Gas" type="checkbox"/>Газ
        </p>
        <p>
            <input name="RailWay" type="checkbox"/>Залізнична дорога
        </p>
        <p>
            <input name="CentralSewerage" type="checkbox"/>Центральна каналізація
        </p>
        <p>
            <input name="CentralWater" type="checkbox"/>Центральне водопостачання
        </p>
        <p>
            <input name="CentralHeating" type="checkbox"/>Центральне отоплення
        </p>
        <p>
            <input name="Electricity" type="checkbox"/>Електроенергія
        </p>
        <p>
            <input name="AutonomousSewerage" type="checkbox"/>Автономна каналізація
        </p>
        <p>
            <input name="AutonomusHeating" type="checkbox"/>Автономне опалення
        </p>
        <p>
            <input name="AutonomousWater" type="checkbox"/>Автономне водопостачання
        </p>
            -->
        </p>
    </fieldset>
    <!-- +++++++++++++++++++++ Надвірні побудови ++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Надвірні побудови</legend>
        <p>
            <input name="BahtHouse" type="checkbox" /> Баня
        </p>
        <p>
            <input name="Swimming" type="checkbox" />Басейн
        </p>
        <p>
            <input name="Garage" type="checkbox" />Гараж
        </p>
        <p>
            <input name="Well" type="checkbox" />Колодязь
        </p>
        <p>
            <input name="SummerKitchen" type="checkbox" />Літня кухня
        </p>
        <p>
            <input name="WorkShop" type="checkbox" />Майстерня
        </p>
        <p>
            <input name="Barn" type="checkbox" />Сарай
        </p>
        <p>
            <input name="Well1" type="checkbox" /> Скважина
        </p>
        <p>
            <input name="GreenHouse" type="checkbox" />Теплиця
        </p>
    </fieldset>
    <!-- +++++++++++++++++++++++++   Опис обєкту  ++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Опис обєкту</legend>
        <!-- Заголовок -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Заголовок :</label><br />
            <textarea id="" name="CaptionLink" cols="120" rows="2"></textarea>
        </p>
        <!-- Коротка інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Коротка інформація:</label><br />
            <textarea id="" name="NameInfo" cols="120" rows="5"></textarea>
        </p>

        <!-- Детальна інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Детальна інформація</label><br>
            <textarea id="" name="InfoDetails" cols="120" rows="5"></textarea>
        </p>
        <!-- Приватна інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Приватна інформація</label><br />
            <textarea id="" name="InfoPrivat" cols="120" rows="5"></textarea>
        </p>
        <!-- ціна в гривнях -->
        <p>
            <label>Ціна:</label>
            <input type="number" id="" name="GrnPrice" min="0" step="1" /> <span style="color: red; font-weight: bold;">грн.</span>
        </p>
        <!-- ціна в доларах -->
        <p>
            <label>Ціна:</label>
            <input type="number" id="" name="DollarPrice" min="0" step="0" /> <span style="color: red; font-weight: bold;">$</span>
        </p>
    </fieldset>
    <!-- +++++++++++++++++++   Додавання фото  ++++++++++++++++++++++++++++++  -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Додати фото</legend>
        <!-- 
            <p>
                <input type="file" name="foto" multiple/>
            </p>
        -->
    </fieldset>
    <!-- кнопочки -->
    <p>
        <button type="submit">Зберегти обьєкт</button>
        <button type="reset">Очистити форму</button>
    </p>
</form>

