@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<!-- окно вывода информации -->
<div>
    <select class="main_information">
        <h2>Про нас</h2>

        <p>
            Агентство «Затишок» це компанія з 10 річним досвідом роботи на Черкаському ринку нерухомості.
        </p>
        <p>
                Це команда професіоналів яка працює для Вашого комфорту. Всі співробітники мають вищу освіту і
            постійно підвищують свій професійний рівень. Ми намагаємося йти «в ногу з часом» тому уважно
            відслідковуємо всі зміни в законодавстві. Наша діяльність створена для того, щоб усі Ваші операції
            з нерухомістю пройшли безпечно та просто.    
        </p>
        <p>
            Ми з радістю співпрацюємо з колегами та іншими Агентствами нерухомості. Наші клієнти завжди можуть
            бути впевнені в тому, що ми запропонуємо максимальну кількість варіантів не залежно від того хто
            з колег займається продажем.
        </p>
        <p>
            Кожен клієнт нашого агентства стає членом великої Затишної родини.    
        </p>

    </select>
</div>







