
@{
    ViewBag.Title = "DetailsForm";
    Layout = "~/Views/Shared/_SearchApartmentForm.cshtml";
}

<div>
    <section class="main_information">
        <h2>Знайдена інформація</h2>
    </section>

</div>
