
@{
    ViewBag.Title = "HouseForm";
    Layout = "~/Views/Shared/_SearchHouseForm.cshtml";
}

<div>
    <section class="main_information">
        <h2>Знайдена інформація</h2>
    </section>

</div>

