@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = "Home Page";
}


<div>
    <!-- окно вывода информации -->
    <section class="main_information_index"></section>
    <!-- end окно вывода информации -->

</div>





