@*@{
    Layout = null;
}
<!-- мы указываем, что мастер-страница не будет применяться к этому представлению -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title>Rieltors</title>
</head>
<body>
    <div>
        <h3>Обьекты для продажи</h3>
        <table>
            <tr>
                <td>
                    <p>Id </p>
                </td>
                <td>
                    <p>Название населенного пункта</p>
                </td>
            </tr>
            <!--
            Чтобы обратиться к контроллеру HomeController или отправить ему запрос,
            нам надо указать в строке запроса его имя - Home. Кроме того, после имени
            контроллера нам надо через слеш указать действие или метод контроллера, к
            которому отправляется запрос.
            -->
            <!-- При нажатии на эту ссылку методу Buy контроллера HomeController будет отправляться запрос, в котором вместо ("b.Id") будет указан id книги -->

            @foreach (var b in ViewBag.vill)
            {
                <tr>
                    <td><p>@b.Id</p></td>
                    <td><p>@b.VillageName</p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>*@





@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = "Home Page";
}


<div >
    
    <!-- окно вывода информации -->
    <section class="main_information">
        <img class="img_house" alt="image" src="Image/image_myHome.jpg">

    </section>
    <!-- end окно вывода информации -->

</div>