
@{
    ViewBag.Title = "Kredit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div>
    <section class="main_information">
        <h2>Кредити</h2>
        <p>
            Шановні клієнти!  
        </p>

        <p>
            Раді повідомити вам, що іпотека повернулася на ринок нерухомості Черкас. І це означає що знову можливо
            придбати нерухомість в кредит. Наразі ми маємо 5 укладених угод про спрівпрацю між банками та нашим агентством.
        </p>

        <p>
            Зокрема, такі банки як УкрГазбанк, Південний, Ощадбанк та ін. пропонують свої послуги на ринку кредитування.
            Кожне звернення розглядається в індивідуальному порядку. Особисто для Вас, ми зможемо підібрати найкращі умови
            кредитування та допоможемо здійснити мрію МАТИ ВЛАСНЕ ЖИТЛО.
        </p>

        <p>
            Кожен співробітник Агентства нерухомості Затишок,
            детально обізнаний про умови кредитування і зможе надати Вам повну та вичерпну інформацію.
        </p>

        <p>
            Загальні умови:
        </p>
        <p>
            Відсоткова ставка від 22% у гривнях.
            початковий внесок від 30%
            Забезпечення кредиту – нерухомість що купується!
            Маємо пропозиції по кредитуванню для внутрішньо переміщених осіб.
        </p>
    </section>
</div>

