    
@{
    ViewBag.Title = "MyContact";
    Layout = "~/Views/Shared/_Layout.cshtml";

}




<div>
    <section class="main_information">
        <h2>Наші контакти </h2>
        <p>
            Наші контакти:
        </p>
        <p>
            м. Черкаси, бульвар Шевченка 266, офіс 104
        </p>
        <p>0674731145</p>
        <p>0933342042</p>
        <p> 0679474897</p>
        <p>0984971936</p>
        <p></p>
        <p> 0472 360514</p>
        <p></p>
        <p>З радістю приймаємо клієнтів з 9.00 до 18.00</p>
        <p style="color: red">(в суботу працюємо за попередньою домовленістю)</p>
            
        
    </section>
</div>

