@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- окно вывода информации -->
<div>
    <section class="main_information_services">
        <h2>Послуги</h2>
        <div>
            <p class="alighnCenter">Шановні клієнти! дякуємо Вам, що обрали саме нас! Ми знаємо, що ми найкращі! І ми даємо змогу Вам впевнитися в цьому.</p>
            <h3>Для продавців нерухомості</h3>
            <p>Ми допоможемо Вам продати квартиру чи інший об'єкт нерухомості за найбільш вигідною ціною та з найменшими витратами часу, надавши цілий комплекс послуг:</p>
            <ul>
                <li>-оцінка Вашої квартири, кімнати, будинку або ділянки;</li>
                <li>-аналіз правовстановлюючих та інших документів, які необхідні для продажу Вашої нерухомості;</li>
                <li>-планування і проведення рекламної кампанії Вашої нерухомості з використанням усіх доступних нам каналів поширення інформації;</li>
                <li>-організація переглядів Вашої нерухомості, проведення переговорів з покупцем, підписання договору про порядок проведення угоди;</li>
                <li>-вирішення супутніх юридичних питань в галузі житлового, сімейного, спадкового права і податкового законодавства дипломованими юристами;</li>
                <li>-збір і підготовка документів для нотаріального посвідчення угоди та державної реєстрації;</li>
                <li>-організація передачі квартири покупцеві;</li>
                <li>-проведення взаєморозрахунків, перевірка коштів у банківській установі.</li>
            </ul>
            <h3>Для покупців нерухомості</h3>
            <ul>
                <li>первинна консультація щодо вартості об’єктів нерухомості;</li>
                <li>-індивідуальний підбір об’єктів нерухомості;</li>
                <li>-перегляд квартир та будинків у зручний для Вас час у супроводі ріелтора;</li>
                <li>-підписання попереднього договору (Договір завдатку);</li>
                <li>-нотаріальне посвідчення договору, розрахунок з продавцем;</li>
                <li>-передача ключів у присутності ріелтора!</li>
            </ul>
            <p class="textBold">Всі працюють з нерухомістю, ми працюємо з людьми!</p>
            <p class="textBold">АН «Затишок»</p>
        </div>
    </section>

</div>

<!-- end окно вывода информации  -->


