@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Режим редагування</h2>

<fieldset>
    <legend class="adminPart">Словники </legend>
    <form action="/DictionatyRegion">
        <button type="submit">Редагувати</button>
        <label>Редагування словника"Райони" </label>
    </form>
    <form action="/DictionaryVillage">
        <button type="submit">Редагувати</button>
        <label>Редагування словника"Населені пункти" </label>
    </form>
    <form action="/DictionaryStreet">
        <button type="submit">Редагувати</button>
        <label>Редагування словника"Назви вулиць" </label>
    </form>
    <form action="/DictionaryWallMaterial">
        <button type="submit">Редагувати</button>
        <label>Редагування словника"Матеріли для стін" </label>
    </form>
    <form action="/DictionaryFloorMaterial">

        <button type="submit">Редагувати</button>
        <label>Редагування словника"Матеріли для підлоги" </label>
    </form>
</fieldset>

<fieldset>
    <legend class="adminPartRed">Редагування об'єктів </legend>

    <form action="/Administrator/AllObject">
        <button type="submit">Показати</button>
        <label>Загальний список усих об'єктів</label>
    </form>

    <form action="/AdminLand/Index">
        <button type="submit">Показати</button>
        <label>Список об'єктів"Земля"</label>
    </form>
    
    <form action="/AdminHouse/Index">
        <button type="submit">Показати</button>
        <label>Список об'єктів"Будинки"</label>
    </form>

    <form action="/AdminApartment/Index">
        <button type="submit">Показати</button>
        <label>Список об'єктів"Квартири"</label>
    </form>

    <form action="/AdminCommercial/Index">
        <button type="submit">Показати</button>
        <label>Список об'єктів"Комерційна нерухомість "</label>
    </form>
</fieldset>

