@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Квартири</h2>
<form method="POST" action="">
    <!-- ++++++++++++++++++++++++++   Адреса  ++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Адресні дані </legend>


        <!--Населені пункти -->
        <p>
            <label>Населений пункт:</label>
            <input type="text" id="village" name="Village" required />
        </p>
        <!--Райони-->
        <p>
            <label>Район:</label>
            <input type="text" id="region" name="Region" required />
        </p>
        <!--вулиця -->
        <p>
            <label>Вулиця:</label>
            <input type="text" id="street" name="Street" />
        </p>
        <!--Номер будинку-->
        <p>
            <label>Будинок № :</label>
            <input type="text" id="adress_number" name="NumberAdress" />
        </p>

        <label for="operation">Вид операції:</label>
        <select id="operation" name="OperationType">
            <option value="0">оренда</option>
            <option value="1">продаж</option>
        </select><br />
    </fieldset>

    <!-- ++++++++++++++++++++++++++++++ Детальна інформація +++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Детальна інформація</legend>
        <!--Стан обьекту-->
        <p>
            <label>Стан:</label>
            <select name="ConditionOfApartment">
                <option value="відмінний">відмінний</option>
                <option value="хороший">хороший</option>
                <option value="задовільний">задовільний</option>
                <option value="потрібний ремонт">потрібний ремонт</option>
                <option value="оздоблювальні роботи">оздоблювальні роботи</option>
            </select>
        </p>
        <!-- Кількість кімнат -->
        <p>
            <label>Кількість кімнат </label>
            <select name="RoomsApartment">
                <option value="1">1 кімната</option>
                <option value="2">2 кімнати</option>
                <option value="3">3 кімнати</option>
                <option value="4">4 кімнати</option>
                <option value="5">5 кімат і більше</option>
            </select>
        </p>
        <!-- тип кімнат -->
        <p>
            <label>Тип кімнат:</label>
            <select name="RoomType">
                <option value="0">роздільні</option>
                <option value="1">суміжні</option>
                <option value="2">комбіновані</option>
            </select>
        </p>
        <!-- Готовність до заселення -->
        <p>
            <label>Готовність до заселення:</label>
            <select name="ReadinessApartment">
                <option value="В єксплуатації">В єксплуатації</option>
                <option value="Новобудова">Новобудова</option>
                <option value="Будується">Будується </option>
                <option value="Вільна">Вільна</option>
            </select>
        </p>
        <!-- Санвузол -->
        <p>
            <label>Санвузол</label>
            <select name="BathRoomApartment">
                <option value="Роздільній">Роздільній</option>
                <option value="Спільний">Спільний</option>
                <option value="2 і більше">2 і більше</option>
                <option value="Відсутній">Відсутній</option>
            </select>
        </p>
        <!-- Кільксть балконів -->
        <p>
            <label>Кількість балконів</label>
            <select name="BalconyApartment">
                <option value="0">відсутні</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </p>
        <!-- Поверх -->
        <p>
            <label>Поверх:</label>
            <select name="FloorApartment ">
                <option value="-1">підвал</option>
                <option value="0">цоколь</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                
            </select>
        </p>
        <!-- зангальні кількість поверхів -->
        <p>
            <label>Загальна кількість поверхів:</label>
            <input type="number" id="float_number" name="TotalFloor" min="1" max="15" />
        </p>
        <!-- Матеріал підлоги -->
        <p>
            <label>Матеріал підлоги:</label>
        <!--
        <select>
            <option>паркет</option>
            <option>ламінат</option>
            <option>лінолеум</option>
            <option>кахель</option>
            <option>ковралін</option>
            <option>дошка</option>
            <option>ДВП</option>
            <option>бетон</option>
        </select>
            -->
        </p>
        <!-- Матеріал стін -->
        <p>
            <label>Матеріал стін:</label>
            <!--
            <select>
                <option>цегла</option>
                <option>панель</option>
                <option>моноліт</option>
                <option>дерево</option>
                <option>дерево-цегла</option>
            </select>
            -->
        </p>
        <!-- Загальна площа -->
        <p>
            <label>Загальна площа:</label>
            <input type="number" id="total_area" name="TotalArea" min="0.1" max="200.9" step="0.1" /> m<sup><small>2</small></sup>
        </p>
        <!-- Житлова плоша -->
        <p>
            <label>Житлова площа </label>
            <input type="number" id="living_area" name="LivingAreaApartment" min="0.1" max="200.9" step="0.1" /> m<sup><small>2</small></sup>
        </p>
        <!-- Площа кухні -->
        <p>
            <label> Площа кухні:</label>
            <input type="number" id="kitchen_area" name="KitchenAreaApartment" min="0.1" max="200.9" step="0.1" /> m <sup><small>2</small></sup>
        </p>
    </fieldset>
    <!-- ++++++++++++++++++++++++++++++++++++ Додаткове обладнання ++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Додаткове обладнання</legend>
        <!--
    <p>
        <p>
            <input name="Boiler" type="checkbox"/>Бойлер
        </p>
        <p>
            <input name="Intercom" type="checkbox"/>Домофон
        </p>
        <p>
            <input name="Internet" type="checkbox"/>Інтернет
        </p>
        <p>
            <input name="CableTv" type="checkbox"/>Кабельне телебачення
        </p>
        <p>
            <input name="FirePlace" type="checkbox"/>Камін
        </p>
        <p>
            <input name="Air" type="checkbox"/>Кондіціонер
        </p>
        <p>
            <input name="Furniture" type="checkbox"/>Меблі
        </p>
        <p>
            <input name="MyWindows" type="checkbox"/> Склопакети
        </p>
        <p>
            <input name="Signaling" type="checkbox"/>Сигналізація
        </p>
        <p>
            <input name="SatelliteTv" type="checkbox"/>Супутникове телебачення
        </p>
        <p>
            <input name="WashingMachine" type="checkbox"/>Пральна машинка
        </p>
        <p>
            <input name="Telephone" type="checkbox"/>Телефон
        </p>
    </p>
        -->

    </fieldset>
    <!-- ++++++++++++++++++++++++++++++++++++++ Опис обєкту ++++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Опис обєкту</legend>
        <!-- Заголовок -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Заголовок :</label><br />
            <textarea id="" name="CaptionLink" cols="120" rows="2"></textarea>
        </p>
        <!-- Коротка інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Коротка інформація:</label><br />
            <textarea id="" name="NameInfo" cols="120" rows="5"></textarea>
        </p>

        <!-- Детальна інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Детальна інформація</label><br>
            <textarea id="" name="InfoDetails" cols="120" rows="5"></textarea>
        </p>
        <!-- Приватна інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Приватна інформація</label><br />
            <textarea id="" name="InfoPrivat" cols="120" rows="5"></textarea>
        </p>
        <!-- ціна в гривнях -->
        <p>
            <label>Ціна:</label>
            <input type="number" id="" name="GrnPrice" min="0" step="1" /> <span style="color: red; font-weight: bold;">грн.</span>
        </p>
        <!-- ціна в доларах -->
        <p>
            <label>Ціна:</label>
            <input type="number" id="" name="DollarPrice" min="0" step="0" /> <span style="color: red; font-weight: bold;">$</span>
        </p>
    </fieldset>
    <!-- +++++++++++++++++++++++++++++++++++++ Додавання фото +++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Додати фото</legend>
    <!--<p>
        <input type="file" name="foto" multiple/>
    </p>
        -->
        
    </fieldset>
    <p>
        <button type="submit">Зберегти обьєкт</button>
        <button type="reset">Очистити форму</button>
    </p>

</form>


