
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SearchLandForm.cshtml";
}

<h2>Знайдені земельні ділянки </h2>
<div>
    
    <table style="border:2px dashed orange">
        <tr>
            <td>
                <p>Id </p>
            </td>
            <td colspan="8">
                <p style="text-align: center">Інформація</p>
            </td>
        </tr>
        <!--
        Чтобы обратиться к контроллеру HomeController или отправить ему запрос,
        нам надо указать в строке запроса его имя - Home. Кроме того, после имени
        контроллера нам надо через слеш указать действие или метод контроллера, к
        которому отправляется запрос.
        -->
        <!-- При нажатии на эту ссылку методу Buy контроллера HomeController будет отправляться запрос, в котором вместо ("b.Id") будет указан id книги -->

        @foreach (var b in ViewBag.vill)
            {
            <tr>
                <td><p>@b.Id</p></td>
               
            </tr>
        }
    </table>
</div>



