@* Вывод результатов поиска  по земле *@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SearchLandForm.cshtml";
}

<h2>Знайдені земельні ділянки </h2>
<div>
    
    <table style="border:2px dashed orange">
        <tr>
            <td>
                <p>Id </p>
            </td>
            <td colspan="8">
                <p style="text-align: center">Інформація</p>
            </td>
        </tr>
       

        @foreach (var b in ViewBag.land)
            {
            <tr>
                <td><p>@b.Id</p></td>
               
            </tr>
        }
    </table>
</div>



