@model NLayerApp.DataAccessLayer.Domains.Models.Street
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Видадення з бази даних</h2>
<h3>обєкту "Населений пункт"</h3>
<div>
    <p style="font-size: 30px;color: red ; text-align: center">Увага!!!!</p>
    <p style="font-size: 20px; "> ви збираєтесь виладити з бази данних без змоги відновити обєкт з такими параметрами:</p>
    <form method="POST">
        <table>
            <tr><td>Id :</td><td><input value="@Model.Id" name="Id" /></td></tr>
            <tr><td>Назва :</td><td><input value="@Model.StreetName" name="StreetName" /></td></tr>

        </table>
        <input type="submit" action="/DictionatyStreet/Delete" value="Видалити" />
    </form>
    <p style="color: red; font-size: 30px;">
        видалення цього обєкту потягне за собою також видалення інших обьєктів(квартир, будинків, комерційної нерухомості та
        земельних ділянок ), де данний обєкт проходить як параметер!!!!!!!
    </p>
</div>
