@model NLayerApp.DataAccessLayer.Domains.Models.Street
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Редагування </h2>
<div>
    <h3>Назва вулиці:</h3>
    <form method="POST" action="/DictionaryStreet/Edit">
        <input type="hidden" value="@Model.Id" name="Id"/>
        <input type="text" value="@Model.StreetName" name="StreetName"/>
        <input type="submit" value="Зберегти "/>
    </form>
</div>

<div style="margin-top: 50px; margin-bottom: 20px">
    @Html.ActionLink("Повернутися до списку вулиць", "Index")
</div>


