@model List<NLayerApp.BusinessLogicLayer.Models.FloorMaterialViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Словник назв матеріалів для підлоги </h2>
<div>
    @if ((Model?.Count ?? 0) > 0)
    {
        <table border="1">
            <tr>
                <td>Id</td>
                <td>Назва матеріалу для стіни</td>
                <td>Редагувати</td>
                <td>Видалити</td>
            </tr>
            @foreach (var b in Model)
            {
                <tr>
                    <td>@b.Id</td>
                    <td>@b.FloorMaterial</td>
                    <td><a href="/DictionaryFloorMaterial/Edit/@b.Id" >Редагувати</a></td>
                    <td><a href="/DictionaryFloorMaterial/Delete/@b.Id" style="color: red">Видалити</a></td>
                </tr>
            }
            <tr>
                <td colspan="4" style="background-color:mediumslateblue" align="center"> Додати нову назву: </td>
            </tr>
            <tr>
                <td>Назва:</td>
                <td colspan="3">
                    <form method="POST" action="/DictionaryFloorMaterial">
                        <input type="text" name="FloorMaterial" />
                        <input type="submit" value="Зберегти" />
                    </form>
                </td>
            </tr>
        </table>
    }
    else
    {
        <table>
            <tr>
                <form method="POST" action="/DictionaryFloorMaterial">
                    <table>
                        <tr>
                            <td style="color: blue">[додати першу назву]</td>
                            <td><input name="FloorMaterial" type="text" /></td>
                            <td><button type="submit"><img src="/Image/add.jpg" /></button></td>
                        </tr>
                    </table>
                </form>
            </tr>
        </table>
    }
</div>

