@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}


<h2>Земля</h2>
<form method="POST" action="/AdminLand/MyInsert">
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Адресні дані </legend>


        <!--Населені пункти -->
        <p>
            <label>населений пункт:</label>
            @Html.DropDownList("Village", ViewBag.villageName as SelectList)

        </p>
        <!--район-->
        <p>
            <label>район:</label>
            @Html.DropDownList("Region", ViewBag.regionName as SelectList)
        </p>
        <!--вулиця -->
        <p>
            <label>вулиця:</label>
            @Html.DropDownList("Street", ViewBag.streetName as SelectList)
        </p>
        <!--Номер будинку-->
        <p>
            <label>будинок № :</label>
            <input type="text" id="adress_number" name="NumberAdress"/>
        </p>

        <!--Кадастровий номер-->
        <p>
            <label>кадастровий № :</label>
            <input type="text" name="CadastraNumber"/>
        </p>
       
    </fieldset>

    <!-- +++++++++++++++++++++++++++ Детальна інформація +++++++++++++++++++++++++++++++ -->

    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Детальна інформація</legend>

        <!-- Призначення земельної ділянки -->
        <p>
            <label> призначення земельної ділянки:</label>
            <select name="TypeLand">
                <option value="індивідуальне">індивідуальне</option>
                <option value="комерційне">комерційне</option>
                <option value="сільськогосподарське">сільськогосподарське</option>
            </select>
        </p>

        <!-- Площа земельної ділянки -->
        <p>
            <label> площа земельної ділянки:</label>
            <input type="number" name="TotalArea" min="0.1" step="0.1" /> (Га)
        </p>
    </fieldset>
    <!-- ++++++++++++++++++++++++++ Комунікаціїї ++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Комунікації</legend>

        
        <p>
            <input value="true" name="Gas" type="checkbox" />газ
        </p>
        <p>
            <input value="true" name="RailWay" type="checkbox" />залізнична дорога
        </p>
        <p>
            <input value="true" name="CentralSewerage" type="checkbox" />центральна каналізація
        </p>
        <p>
            <input value="true" name="CentralWater" type="checkbox" />центральне водопостачання
        </p>
        <p>
            <input value="true" name="CentralHeating" type="checkbox" />центральне отоплення
        </p>
        <p>
            <input value="true" name="Electricity" type="checkbox" />електроенергія
        </p>


        

    </fieldset>

    <!--+++++++++++++++++++++++++++++ Опис обьєкту ++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Опис обєкту</legend>
        <!-- Заголовок -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">заголовок :</label><br />
            <textarea id="" name="CaptionLink" cols="120" rows="2"></textarea>
        </p>
       
        <!-- Детальна інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">детальна інформація</label><br>
            <textarea id="" name="InfoDetails" cols="120" rows="5"></textarea>
        </p>


          <p style="float: left;">
                    <input type="radio" name="OperationType" checked value="продаж" /><span>продаж</span>
                    <input class="nevedimkaRent" type="number" id="dol" min="1000" max="250000" placeholder="ціна в доларах" name="DollarPrice" size="3">
                    <input type="radio" value="оренда" name="OperationType" /><span>оренда</span>
                    <input class="nevedimkaRent" type="number" id="grn" min="1000" max="500000" placeholder="ціна в гривні " name="GrnPrice" size="3">
         </p>
    </fieldset>
    
    <p>
        <button type="submit">Зберегти новий обьєкт</button>
        <button type="reset">Очистити форму</button>
    </p>
</form>



