@model List<NLayerApp.BusinessLogicLayer.Models.VillageViewModels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Словник населених пунктів</h2>

<div>
    @if ((Model?.Count ?? 0) > 0)
    {
        <table border="1" cols="4" >
            <tr>
                <td width="40">Id</td>
                <td>Назва населеного пункту</td>
                <td>Редагування </td>
                <td>Видалення</td>
            </tr>
            @foreach (var b in Model)
            {
                <tr>
                    <td>@b.Id</td>
                    <td>@b.Village</td>
                    <td><a href="/DictionaryVillage/Edit/@b.Id" >Редагування</a></td>
                    <td><a href="/DictionaryVillage/Delete/@b.Id" style="color: red">Видалити</a></td>
                </tr>
            }
            <tr>
                <td colspan="4" align="center" style="background-color:mediumpurple"> Додати нову назву: </td>
            </tr>
            <tr>
                <td  width="40">Новий:</td>
                <td colspan="3">
                    <form  method="POST" action="/DictionaryVillage/Index">
                        <input type="text" name="Village"/>
                        <input type="submit" value="Зберегти"/>
                    </form>
                </td>
            </tr>
        </table>
    }
    else
    {
        <table>
            <tr>
                <form method="POST" action="/DictionaryVillage/Index">
                    <table>
                        <tr>
                            <td style="color: blue">[додати першу назву]</td>
                            <td><input type="text" name="Village" /></td>
                            <td><button type="submit"><img src="/Image/add.jpg" /></button></td>
                        </tr>
                    </table>
                </form>
            </tr>
        </table>
    }
</div>
