
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Словник</h2>

<form method="POST" action="">
    <label>Введите новое название района </label>
    <input name="NameRegion" type="text"/>
    <p>
        <button type="submit">Зберегти обьєкт</button>
        <button type="reset">Очистити форму</button>
    </p>
</form>

