
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Словник</h2>

<form action="/DictionatyRegion">
    <button type="submit">Start</button>
    <label>Редактирование словника"Райони"  </label>
</form>
<form action="/DictionaryVillage">
    <button type="submit">Start</button>
    <label>Редактирование словника"Населені пункти"  </label>
</form>
<form action="/DictionaryStreet">
    <button type="submit">Start</button>
    <label>Редактирование словника"Назви вулиць" </label>
</form>
<form action="">
    <button type="submit">Start</button>
    <label>Редактирование словника"Матеріли для стін"  </label>
</form>
<form action="">

    <button type="submit">Start</button>
    <label>Редактирование словника"Матеріли для підлоги"  </label>
</form>



